.player_Menu{
    position: fixed;
    bottom: 0;
    width: 90vw;
    height: 10vh;
    /* background-color: rgb(129, 119, 106); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.PlayerRSWP {
    box-sizing: border-box;
    font-size: inherit;
    width: 100%;
    min-height: 65px !important;  
}
._ContentRSWP {
    /* background-color: rgb(112, 96, 96); */
    width: 90vw;

}
.song_info{
    display: flex;
    flex-direction:row;
}
.song_info--text{
    margin: 1rem;
    min-width: 7rem;
}
.song_info--img{
    width: 4.5rem;
    height: 4.5rem;
}
.song_control_icons{
    width: 6rem;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .PlayerRSWP{
        position: absolute;
        bottom: 10%;
    }
    
}